@media screen and (max-width:1200px) {
    .navi2{
        display: none;
    }
    .hambirger{
        display: block;
        margin-top: 25px;
        margin-left: 5px;
    }
    
    
    
}
@media screen and (max-width:990px) {
.card{
    flex-wrap: wrap;
    gap: 20px;
    
}
}
@media screen and (max-width:800px) {
    .banner svg{
        width: 70%;
    }
    .card{
        width: 94%;
    }
}
@media screen and (max-width:500px) {
    .banner svg{
        width: 80%;
    }
}
@media screen and (max-width:400px) {
    .navi h1{
        display:none;
    }
    .banner svg{
        width: 80%;
    }
    .icon2{
        margin: auto;
    }
    .navi input{
        display: none;
    }
    .icon{
       display: none;
    }
.hambirger{
    margin-top: 40px;
}
    
}


