@media screen and (max-width:1200px) {
    .navi2{
        display: none;
    }
    .hambirger{
        display: block;
        margin-top: 25px;
        margin-left: 5px;
    }
    
    
    
    
}
@media screen and (max-width:990px) {
.card{
    flex-wrap: wrap;
    gap: 20px;
    
}
.banner20{
    width: 96%;
    height: 300px;
    margin-top: 20px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
}
@media screen and (max-width:800px) {
    .banner svg{
        width: 70%;
    }
    .card{
        width: 94%;
    }
}
@media screen and (max-width:500px) {
    .banner svg{
        width: 80%;
    }
    .banner20{
        width: 96%;
        height: 300px;
        margin-top: 20px;
        margin: auto;
        display: grid;
        grid-gap: 10px;
        font-size: 12px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:400px) {
    .navi h1{
        display:none;
    }
    .banner svg{
        width: 80%;
    }
    .navi img{
        margin-top: 34px;
    }
    .icon2{
        margin: auto;
    }
    .navi input{
        display: none;
    }
    .icon{
       display: none;
    }
    .banner20{
        width: 96%;
        height: 300px;
        margin-top: 20px;
        margin: auto;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
.hambirger{
    margin-top: 40px;
}
    
    .error{
        display: block;
    }
    .cola button{
        margin-left: 30%;
    }

}


