*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    max-width: 1900px;
    margin: auto;
    min-height: 500vh;
}
.navi{
    width: 100%;
    height: 80px;
    margin: auto;
    border: solid 1px rgb(218,220,223);
    display: flex;
    position: sticky;
 
}
.navi img{
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.navi h1{
    font-size: 42px;
    padding-top: 7px;
    font-weight: 100;
}
.navi input{
    width: 60%;
    height: 35px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 20px;
    border: solid 1px rgb(218,220,223);
    background: rgb(249,250,251);
}
.icon i{
    font-size: 20px;
    margin-top: 20px;
 height: 35px;
 width: 40px;
padding-top: 6px;
padding-left: 9px;
border-radius: 0px 5px 5px 0px;
 color: rgb(255,255,255);
background: rgb(255,31,44);
}
.icon2 i{
    font-size: 27px;
    margin-top: 20px;
    margin-left: 30px;
}
.navi2{
    width: 100%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.306);
    position: sticky;
}
.collectionn{
    height: 40px;
    font-size: 15px;
    display: flex;
    padding-left: 5%;
    padding-top: 10px ;
    color: rgb(47,51,55);
    list-style: none;
    gap: 30px;
    position: sticky;
    border: solid 1px rgb(218,220,223) ;
    
}
.prw{
    color: red;
}

.hambirger{
    display: none;
}
.hambirger div{
    width: 30px;
    height: 3px;
    background-color: gray ;
    margin-top: 3px;
    border-radius: 4px;
}
.banner{
    width: 100%;
    margin-top: 30px;
    height: 500px;
    background: url(./07122023-MOPS-01-1400x550_DesktopA1_Redesign-min.jpg)no-repeat center/cover;
}
.banner svg{
    width: 70%;
}
.card{
    width: 90%;
    height: 300px;
    margin: auto;
    margin-top: 30px;
   gap: 20px;
    display: flex;
    
    
}
<h3>Extra 15% Off</h3>
<h4>Select Bedding</h3>
<h4>Select Bedding</h3>
<h4>Select Home Decor</h4>
<h4>Select Furniture</h4>
<h4>Select Lighting</h4>
<h4>Select Kitchen</h4>

.a{
    width: 200px;
   height: 210px;
}


.s{
    text-align: center;
    
}
.a h4{
    margin-left: 20px;
    margin-top: 10px;
}
.wrapper{
    display: flex;
    width: 90%;
    height: 220px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    gap: 10px;
    overflow: auto;
    padding-bottom: 10px;
}
.wrapper::-webkit-scrollbar{
    height: 2px;
    
}
.wrapper::-webkit-scrollbar-thumb{
    background: #999;
    border-radius: 6px;
    
    
}
.item{
    width: 200px;
    min-width: 200px;
    height: 200px;
}
.item img{
    width: 90%;
    margin: auto;
    margin-left: 20px;
}
.item p{
   text-align: center;

}
.w{
    text-align: center;

}
.item h3{
    text-align: center;color: red;
    
}
.banner2{
    width: 90%;
    margin-top: 100px;
    margin: auto;
    object-fit: cover;
    height: 500px;
    background: url(./07122023_INTL_1400x550_Decor\ \(2\).jpg)no-repeat center/cover;
}
.banner2 svg{
    width: 80%;
}
.banner3{
    width: 90%;
    margin-top: 40px;
    margin: auto;
    object-fit: cover;
    height: 500px;
    background: url(./07122023_INTL_767x800_Umbrellas.jpg)no-repeat center/cover;
}
    
.banner3 svg{
    width: 80%;
}
.wrapper1{
    display: flex;
    width: 100%;
    height: 400px;
    margin: auto;
    display: flex;
    margin-top: 20px;
    gap: 10px;
    overflow: auto;
    padding-bottom: 10px;
}
.item1{
    border: solid 1px red;
    width: 300px;
    min-width: 300px;
    height: 400px;
}
.item1 img{
width: 100%;
height: 270px;
}